:root {
  --heading-font-family: "Khula-SemiBold", Helvetica;
  --heading-font-weight: 600;
  --heading-font-size: 30px;
  --heading-letter-spacing: 0px;
  --heading-line-height: 14px;
  --heading-font-style: normal;
  --tab-names-font-family: "Khula-SemiBold", Helvetica;
  --tab-names-font-weight: 600;
  --tab-names-font-size: 25px;
  --tab-names-letter-spacing: 0px;
  --tab-names-line-height: 14px;
  --tab-names-font-style: normal;
  --red-glow: 0px 2px 8px 0px rgba(204, 0, 0, 0.7);
  --variable-collection-sky: rgba(148, 199, 221, 1);
  --variable-collection-black: rgba(13, 22, 11, 1);
  --variable-collection-gray: rgba(226, 226, 226, 1);
  --variable-collection-purple: rgba(38, 20, 90, 1);
  --variable-collection-scarlet: rgba(204, 0, 0, 1);
  --variable-collection-color: rgba(255, 255, 255, 1);
}
